<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Minority</title>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">

</head>
<body>
<!-- header-10 -->
<header class="header-10">
<div class="container">
<div class="navbar span12">
<div class="navbar-inner">
<button type="button" class="btn btn-navbar"></button>
<a class="brand" href="/">
  <div class="primary-logo"><img src="images/minority-logo.svg">Minority</div></a>
<div class="nav-collapse collapse pull-right">
<ul class="nav">
<li class="active">

</ul>
</div>
</div>
</div>
</div>
</header>
<section class="content-23  v-center bg-midnight-blue">
<div class="container">
<div class="hero-unit support-unit">
<h2>Sales and parthership questions:</h2>
<p>
<h1><a href="mailto:sales@minorityapp.com?body=Sales question">sales@minorityapp.com</a></h2>
</p>
<h2>Support: </h2>
<p>
<h1><a href="mailto:support@minorityapp.com?body=Sales question">support@minorityapp.com</a></h2>

</p>
<!--End mc_embed_signup-->


</div>
</div>
</section>




<!-- footer-3 -->
<footer class="footer-3">
<div class="container">
<div class="row v-center">
<div class="span2">
<div class="span2">
<a class="brand" href="#">Minority</a>
</div>
</div>
<div class="span7">
<div class="span7">
<div class="additional-links">
<a href="#"><%= t(:terms) %></a>  <a href="#"><%= t(:privacy) %></a>
</div>
</div>
</div>
<div class="span3">
<div class="span3">
<!-- <h6><a href="http://empireinc.net">Empire InCloud</a></h6> -->

</div>
</div>
</div>
</div>
</footer>



</body>
</html>























