<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Minority</title>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">

</head>
<body>
<!-- header-10 -->
<header class="header-10">
<div class="container">
<div class="navbar span12">
<div class="navbar-inner">
<button type="button" class="btn btn-navbar"></button>
<a class="brand" href="#">Minority</a>
<div class="nav-collapse collapse pull-right">
<ul class="nav">
<li class="active">
<li>
<a href="#">Contact</a>
</li>
</ul>
<form class="navbar-form pull-left">
<a class="btn bg-nephritis" href="#">Subscribe</a>
</form>
</div>
</div>
</div>
</div>
</header>
<section class="header-10-sub v-center bg-midnight-blue">
<div class="background">
&nbsp;
</div>
<div>
<div class="container">
<div class="hero-unit">
<h1>Minority is a tool for</h1>
<p>
We’ve created the product that will help your
<br/>
business to work even better.
</p>
<div class="subscribe-form mc_embed_signup">
<form action="//empireinc.us5.list-manage.com/subscribe/post?u=141c1b3291fd461fbe97103c0&amp;id=6cb531884f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<div class="mc-field-group input-append">
  <input type="email" value="" name="EMAIL" class="span4 required email" style="width: 340px;
height: 63px;" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_141c1b3291fd461fbe97103c0_6cb531884f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
</form>
</div>

<!--End mc_embed_signup-->
<div class="input-append">
<input class="span4" type="text">
<button class="btn btn-primary" type="button">
Notify Me
</button>
</div>
</form>
</div>

</div>
</div>
</div>
<a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<!-- content-7  -->
<section class="content-7 v-center">
<div>
<div class="container">
<h3>Take a look in our awesome product</h3>
<div class="row v-center">
<div class="span3">
<div class="span3">
Lorem
</div>
</div>
<div class="span4">
<div class="span4 offset1">
<div class="screen-wrapper">
<div class="screen">
<img src="images/screen-popup.png" alt="" pagespeed_url_hash="2890169536">
<img src="images/screen.png" alt="" pagespeed_url_hash="769980613">
</div>
</div>
</div>
</div>
<div class="span3">
<div class="span3 offset1">
<h6>Responsive Layout</h6>
Of course we haven’t forgotten about the responsive layout. Full mobile support.
<h6>Retina Ready</h6>
Startup Framework works fine on devices supporting Retina Display. Feel the clarity!
</div>
</div>
</div>
</div>
</div>
</section>
<!-- content-23  -->
<section class="content-23 v-center bg-midnight-blue custom-bg">
<div>
<div class="container">
<div class="hero-unit hero-unit-bordered">
<h1>Scenic Nature</h1>
</div>
</div>
</div>
<a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<!-- content-8  -->
<section class="content-8 v-center">
<div>
<div class="container">
<img src="images/img-1@2x.png" width="397" height="193" alt="" pagespeed_url_hash="2110467996">
<h3>Multi Useful Components</h3>
<div class="row">
<div class="span6 offset3">
<p>
Startup Design Framework contains components and complex blocks which can easily be integrated into almost any design.
</p>
<a class="btn btn-large btn-clear" href="#">TRY IT NOW</a>
</div>
</div>
</div>
</div>
</section>
<!-- content-23  -->
<section class="content-23  v-center bg-midnight-blue">
<div id="bgVideo" class="background"></div>
<div>
<div class="container">
<div class="hero-unit">
<h1>Find a perfect suit for
<br class="hidden-phone">
your startup</h1>
</div>
</div>
</div>
<a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<!-- content-8  -->
<section class="content-8 v-center">
<div>
<div class="container">
<img width="380" height="187" alt="" src="images/ticket-red@2x.png" pagespeed_url_hash="472865907"/>
<h3>Twenty Five Awesome Samples</h3>
<div class="row">
<div class="span6 offset3">
<p>
The most important part of the Startup Framework is the samples.
The samples form a set of 25 usable pages or you can add new blocks from UI Kit.
</p>
<a class="btn btn-large btn-clear" href="#">TRY IT NOW</a>
</div>
</div>
</div>
</div>
</section>
<!-- content-11  -->
<section class="content-11">
<div class="container">
<span>You have the design, you have the code</span>
<a class="btn btn-large btn-danger" href="#">TRY IT NOW</a>
</div>
</section>
<!-- footer-3 -->
<footer class="footer-3">
<div class="container">
<div class="row v-center">
<div class="span2">
<div class="span2">
<a class="brand" href="#">Startup</a>
</div>
</div>
<div class="span7">
<div class="span7">
<div class="additional-links">
Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
</div>
</div>
</div>
<div class="span3">
<div class="span3">
<h6>New York, NY</h6>
62 West 55th Street, Suite 302
<br>
New York, NY, 10230
</div>
</div>
</div>
</div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>











	<body>
		<div class="container">
			<header class="clearfix">
				<span>Blueprint <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
				<h1>On Scroll Effect Layout</h1>
				<nav>
					<a href="http://tympanus.net/Blueprints/ResponsiveIconGrid/" class="bp-icon bp-icon-prev" data-info="previous Blueprint"><span>Previous Blueprint</span></a>
					<a href="" class="bp-icon bp-icon-next" data-info="next Blueprint"><span>Next Blueprint</span></a>
					<a href="http://tympanus.net/codrops/?p=15962" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>
					<a href="http://tympanus.net/codrops/category/blueprints/" class="bp-icon bp-icon-archive" data-info="Blueprints archive"><span>Go to the archive</span></a>
				</nav>
			</header>	
			<div id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Lemon drops</h2>
						<p>Fruitcake toffee jujubes. Topping biscuit sesame snaps jelly caramels jujubes tiramisu fruitcake. Marzipan tart lemon drops chocolate sesame snaps jelly beans.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="images/1.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="images/2.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>Plum caramels</h2>
						<p>Lollipop powder danish sugar plum caramels liquorice sweet cookie. Gummi bears caramels gummi bears candy canes cheesecake sweet roll icing dragée. Gummies jelly-o tart. Cheesecake unerdwear.com candy canes apple pie halvah chocolate tiramisu.</p>
					</article>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Marzipan gingerbread</h2>
						<p>Soufflé bonbon jelly cotton candy liquorice dessert jelly bear claw candy canes. Pudding halvah bonbon marzipan powder. Marzipan gingerbread sweet jelly.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="images/3.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="images/4.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>Carrot cake</h2>
						<p>Sesame snaps sweet wafer danish. Chupa chups carrot cake icing donut halvah bonbon. Chocolate cake candy marshmallow pudding dessert marzipan jujubes sugar plum.</p>
					</article>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Pudding lollipop</h2>
						<p>Chupa chups pudding lollipop gummi bears gummies cupcake pie. Cookie cotton candy caramels. Oat cake dessert applicake. Sweet roll tiramisu sweet roll sweet roll.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="images/5.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="images/6.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>Soufflé bonbon</h2>
						<p>Cake cotton candy lollipop. Cake croissant cheesecake candy sugar plum icing apple pie wafer. Pie sugar plum tiramisu tiramisu pie fruitcake candy icing. Candy icing gummies gummies cheesecake brownie lemon drops chocolate gingerbread.</p>
					</article>
				</section>
			</div>
		</div>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>

